.delete-link {
    background-color: red;
    color: white;
    border: 1px solid white;
    cursor: pointer;
    padding: 3px;
  }

  #result {
    margin: 20px;
    padding: 10px;
    border: 1px solid orange;
  }

  .interest_up_top:hover {
    text-decoration: none;
    color: red;
  }

  .interest_up:hover {
    text-decoration: none;
    color: red;
  }