{% extends 'base.html' %}
{% load static %}

{% block head_default %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <title>로그인 페이지</title>
{% endblock %}

{% block content%}
    <article>
        {% if error %}
        <p style="color:red">{{ error }}</p>
        {% endif %}
    
        <form action="" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Login">
        </form>
        <a href="{% url 'signup' %}">회원가입</a>    
    </article>
{% endblock %}