{% extends 'base.html' %}
{% load static %}

{% block head_default %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<link rel="stylesheet" href="{% static 'css/artist_main.css' %}">
<title>INDIE_CATOR</title>
{% endblock %}

{% block content %}
<article>
    <!-- Artist of the month -->
    <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
        <h2 class="w3-wide">ARTIST OF THE MONTH</h2>
        <p class="w3-opacity"><i>check out the artist of the month</i></p><br>
        {% for artist in top_artists %}
        <span id="{{artist.id}}"> </span>
        <img src="{{ artist.profile_image.url }}" style="width: 770px;">
        <br><br>
        <h4 class="w3-wide"><i>{{artist.name}}</i></h4>
    </div>
    <div class="w3-container w3-content" style="max-width:800px" id="band">
        <div><b>DEBUT <br><br></b>{{artist.debut_date}}</div>
        <hr>
        <div><b>MEMBERS <br><br></b>{{artist.member}}</div>
        <hr>
        <div><b>DESCRIPTION <br><br></b>{{artist.description}}</div>
        <hr>
        <div><b>INTEREST LEVEL</b> ㅣ {{artist.interest}}
            <a href="{% url 'interest_up' artist.id %}"><button
                    class="w3-block w3-black w3-padding-16 w3-section w3-right">+ interest level</button></a>
        </div>
    </div>
    <br><br><br>
    {% endfor %}

    <!-- 아티스트 추가하는곳 -->
    <div class="w3-black">
        <div class="w3-black w3-container w3-content w3-padding-64" style="max-width:800px">
            <h2 class="w3-wide w3-center">DISCOVER NEW ARTIST</h2>
            <p class="w3-opacity w3-center"><i>add your favorite artist and rate !</i></p><br>
            <a href="{% url 'new_artist' %}">
                <button class="w3-block w3-white w3-padding-16 w3-section w3-right">
                    아티스트 등록
                </button>
            </a>
            
            <br><br><br>
            {% for artist in rest_artists %}
            <span id="{{artist.id}}">
                <img src="{{ artist.profile_image.url }}" style="width: 100px;">
                <div>아티스트 이름 : {{artist.name}}</div>
                <div>데뷔일 : {{artist.debut_date}}</div>
                <div>멤버 소개 : {{artist.member}}</div>
                <div>상세 설명 : {{artist.description}}</div>
                <div>관심도 : {{artist.interest}} | <a href="{% url 'interest_up' artist.id %}"><button>관심도 ++</button></a>
                </div>
                <div><a href="{% url 'artist_edit' artist.id%}"><button>아티스트 정보 수정</button></a></div>
                <div><a href="{% url 'artist_delete' artist.id%}"><button>아티스트 삭제</button></a></div>
            </span>
            <br>
            {% endfor %}
        </div>
    </div>

</article>
{% endblock %}