{% extends 'base.html' %}
{% load static %}

{% block head_default %}
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

<link rel="stylesheet" href="{% static 'css/common.css' %}">
<link rel="stylesheet" href="{% static 'css/artist_edit.css' %}">

<title>edit artist</title>
{% endblock %}

{% block content %}

<head>
    <style>
        body {
            background-color: black
        }
    </style>
</head>

<article>
    <form action="{% url 'artist_edit' artist.id %}" method="POST" enctype="multipart/form-data">
        <!-- edit artist -->
        <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px;" id="band">
            <h2 class="w3-wide" style=color:white;>EDIT ARTIST INFO</h2>
            <hr><br>
            <!-- artist attributes -->
            {% csrf_token %}
            <div>
                <p style=color:white;><b>ARTIST</b></p><input type="text" name="name" value="{{artist.name}}">
                <br><br><br>
            </div>
            <div>
                <p style=color:white;><b>DEBUT</b></p> <input type="date" name="debut_date"
                    value="{{artist.get_formatted_date}}">
                <br><br><br>
            </div>
            <div>
                <p style=color:white;><b>MEMBERS</b></p>
                <textarea name="member" cols="30" rows="10">{{artist.member}}</textarea>
                <br><br>
            </div>
            <div>
                <p style=color:white;><b>DESCRIPTION</b></p>
                <textarea name="description" cols="30" rows="10">{{artist.description}}</textarea>
                <br><br><br>
            </div>

            <div class="box-file-input"><label><input type="file" name="profile_image<?php echo $k; ?>" class="file-input"
                        accept="image/*"></label><span class="filename">Upload Image File</div>

            <br>
            <button class="w3-button w3-white  w3-section w3-center" type="submit">수정 완료</button>
    </form>
    </div>
</article>
<script>
    $(document).on("change", ".file-input", function () {

        $filename = $(this).val();

        if ($filename == "")
            $filename = "파일을 선택해주세요.";

        $(".filename").text($filename);

    })
</script>
</body>
{% endblock %}