{% extends 'base.html' %}
{% load static %}

{% block head_default %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<link rel="stylesheet" href="{% static 'css/common.css' %}">
<title>INDIE_CATOR</title>
{% endblock %}

{% block content %}
<article>
  <!-- Page content -->
  <div class="w3-content" style="max-width:2000px;margin-top:46px">

    <!-- Automatic Slideshow Images -->
    <div class="mySlides w3-display-container w3-center">
      <img src="{% static 'img/samui.png'%}" style="width:100%">
      <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
        <h3>SAMUI</h3>
        <p><b>Discover some of the best concert in Seoul, Korea.</b></p>
      </div>
    </div>
    <div class="mySlides w3-display-container w3-center">
      <img src="{% static 'img/koonam.png'%}" style="width:100%">
      <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
        <h3>RidingStella</h3>
        <p><b>Find out who is your favorite artist and rate ! </b></p>
      </div>
    </div>
    <div class="mySlides w3-display-container w3-center">
      <img src="{% static 'img/ENOB.png'%}" style="width:100%">
      <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
        <h3>ENOB</h3>
        <p><b>We are for all the music wanderers around the world.</b></p>
      </div>
    </div>
    <!-- The calendar Section -->
    <img src="{% static 'img/calendar2.png'%}" style="width:100%">


    <!-- The event detail Section -->
    <div class="w3-black">
      <a name="event_list"></a>
      <div class="w3-container w3-content w3-padding-64" style="max-width:800px">
        <h2 class="w3-wide w3-center">EVENT DETAIL</h2>
        <p class="w3-opacity w3-center"><i>Remember to book your artists!</i></p><br>
        <div class="w3-row-padding w3-padding-32" style="margin:0 -16px">
          {% for event in events %}
          <!-- each event -->
          <div class="w3-third w3-margin-bottom">
            <img src="{{event.poster.url}}" alt="AOR CRAZYSUNDAY" style="width:100%" class="w3-hover-opacity">
            <div class="w3-container w3-white">
              <p><b>
                  <div>행사이름 : {{event.name}}</div>
                </b></p>
              <p><b>
                  <div>장소 : {{event.location}}</div>
                </b></p>
              <div><a href="{% url 'event_detail' event.id %}">view detail</a></div>
              <br>
            </div>
          </div>
          {% endfor %}

          <!-- scripts -->
          <script>
            // Automatic Slideshow
            var myIndex = 0;
            carousel();

            function carousel() {
              var i;
              var x = document.getElementsByClassName("mySlides");
              for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
              }
              myIndex++;
              if (myIndex > x.length) {
                myIndex = 1
              }
              x[myIndex - 1].style.display = "block";
              setTimeout(carousel, 4000);
            }
          </script>
</article>
{% endblock %}