{% load static %}

<!DOCTYPE html>
<html lang="ko">
<title>INDIE_CATOR</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- 부트스트랩 CDN -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

<!-- static CSS -->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'css/home.css' %}">

<style>
  body {
    font-family: "Lato", sans-serif
  }

  .mySlides {
    display: none
  }
</style>


<body>

  <head>
    <nav>
      <!-- Navbar -->
      <div class="w3-top">
        <div class="w3-bar w3-black w3-card">
          <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right"
            href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i
              class="fa fa-bars"></i></a>
          <a href="#" class="w3-bar-item w3-button w3-padding-large">HOME</a>
          <a href="#band" class="w3-bar-item w3-button w3-padding-large w3-hide-small">ARTIST</a>
          <a href="#tour" class="w3-bar-item w3-button w3-padding-large w3-hide-small">EVENT</a>
        </div>
      </div>
    </nav>
  </head>
  <!-- Page content -->
  <div class="w3-content" style="max-width:2000px;margin-top:46px">

    <!-- Automatic Slideshow Images -->
    <div class="mySlides w3-display-container w3-center">
      <img src="{% static 'samui.png'%}" style="width:100%">
      <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
        <h3>SAMUI</h3>
        <p><b>Discover some of the best concert in Seoul, Korea.</b></p>
      </div>
    </div>
    <div class="mySlides w3-display-container w3-center">
      <img src="{% static 'koonam.png'%}" style="width:100%">
      <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
        <h3>RidingStella</h3>
        <p><b>Find out who is your favorite artist and rate ! </b></p>
      </div>
    </div>
    <div class="mySlides w3-display-container w3-center">
      <img src="{% static 'ENOB.png'%}" style="width:100%">
      <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
        <h3>ENOB</h3>
        <p><b>We are for all the music wanderers around the world.</b></p>
      </div>
    </div>
    <!-- The calendar Section -->
    <img src="{% static 'calendar2.png'%}" style="width:100%">


   
    <!-- The event detail Section -->
    <div class="w3-black" id="tour">
      <div class="w3-container w3-content w3-padding-64" style="max-width:800px">
        <h2 class="w3-wide w3-center">EVENT DETAIL</h2>
        <p class="w3-opacity w3-center"><i>Remember to book your artists!</i></p><br>
        <div class="w3-row-padding w3-padding-32" style="margin:0 -16px">
          {% for event in events %}
          <!-- each event -->
          <div class="w3-third w3-margin-bottom">
            <img src="{{event.poster.url}}" alt="AOR CRAZYSUNDAY" style="width:100%" class="w3-hover-opacity">
            <div class="w3-container w3-white">
              <p><b>
                  <div>행사이름 : {{event.name}}</div>
                </b></p>
              <p><b>
                  <div>장소 : {{event.location}}</div>
                </b></p>
              <div><a href="{% url 'event_detail' event.id %}">view detail</a></div>
              <br>
            </div>
          </div>

      {% endfor %}










      <!-- scripts -->

      <script>
        // Automatic Slideshow
        var myIndex = 0;
        carousel();

        function carousel() {
          var i;
          var x = document.getElementsByClassName("mySlides");
          for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
          }
          myIndex++;
          if (myIndex > x.length) { myIndex = 1 }
          x[myIndex - 1].style.display = "block";
          setTimeout(carousel, 4000);
        }
      </script>




      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>

</html>